/* Default Zero Status */
*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

.headerh1 {
    text-align: center;
    font-size: 3em;
    color: #1E1562
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    flex-direction: column;
    position: relative;
    top: 20vh;
}
.menu{
    flex-direction: column;
    row-gap: 20px;
}
.btnMenu{
    padding: 10px 20px 10px 20px;
    border-radius: 9%;
    border: 3px solid #1e1562;
    color: #1E1562;
    font-size: 1.1em;
}
.btnMenu:hover{
    background-color: #1E1562;
    color: #fff;
    font-size: 1.1em;
    transform: scale(1.1);
    transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}
