*{
    color: #fff;
}

.dom{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    min-height: 10vh;
}

button{
    background-color: #fff;
    color: black;
}